<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'themes/standard/css/bootstrap.min.css'
        'themes/standard/font-awesome/css/font-awesome.css'
        'themes/standard/css/animate.css'
        'themes/standard/css/style.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>

        {# {{ app.request.basePath ~ '/css/compiled/app.css' }} #}

        {% endstylesheets %}

        <style>
            .phrase-played {
                color: darkolivegreen;
            }

            .word-played {
                color: darkgoldenrod;
            }

            .playlist [data-audioalias] {
                cursor: pointer;
            }

            .pagination > li {
                font-size: 16px;
            }

            .article .ibox-content {
                padding: 10px;
            }
        </style>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        var sroot = '{{ asset('assets/bean/js') }}';
        var audio_server_url = '{{ app.request.scheme ~ '://' ~ fileServerURL('audio') }}';
    </script>

</head>

<body {% block html_body_attr %} {% endblock %}>
{% block html_body %}
    <div id="wrapper">
        {% block navigation %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                            class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b
                                            class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="active">
                            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Main view</span></a>
                        </li>
                        <li>
                            <a href="minor.html"><i class="fa fa-th-large"></i> <span
                                        class="nav-label">Minor view</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        {% endblock %}
        <div id="page-wrapper" class="gray-bg">
            {% block search_row %}
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                        class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control"
                                           name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-cogs"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a7.jpg') }}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a4.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/profile_small.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a7.jpg') }}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a4.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/profile_small.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
            {% endblock %}
            {% block body %}
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center m-t-lg">
                                <h1>
                                    Welcome in INSPINIA Static SeedProject
                                </h1>
                                <small>
                                    It is an application skeleton for a typical web app. You can use it to quickly
                                    bootstrap
                                    your webapp projects and dev environment for these projects.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} <strong>Copyright</strong> Example
                    Company &copy; 2014-2017
                </div>
            </div>

        </div>
    </div>

{% endblock html_body %}
{% block javascripts %}

    <!-- Main scripts -->
    {% javascripts
    'themes/standard/js/jquery-3.1.1.min.js'
    'themes/standard/js/bootstrap.min.js'
    'themes/standard/js/plugins/metisMenu/jquery.metisMenu.js'
    'themes/standard/js/plugins/slimscroll/jquery.slimscroll.min.js'
    'themes/standard/js/inspinia.js'
    'themes/standard/js/plugins/pace/pace.min.js'

    'assets/bean/js/audio.js'

    output='js/compiled/app.js' %}
    <script src=" {{ asset_url }}"></script>
    {#app.request.basePath ~ '/js/compiled/app.js'#}
    {% endjavascripts %}

    <script>
        (function ($) {

            $(document).on("click", ".vocab-entry-popover-audio", function () {
                var audioalias = $(this).data('audioalias');
                stopAudio();
                initAudio(audioalias);
                playAudio();
            });

            /* ----------------------------------------------- */
            /* ----------------------------------------------- */
            /* OnLoad Page */
            $(document).ready(
                function ($) {
                    // ////////////// AUDIO //////////////////////
                    $('[data-audioalias]').each(function (index, element) {
                        // var this_class = $(this).attr('class');
                        // var audioName = $(this).data("audioalias");
                        // var audioId = $(this).attr('id');
                        // // console.log( $( this ).text() );
                        // song_list[audioId] = audioName;

                        initAudio($(this).data("audioalias"));
                    });
                    // alert(playAudio_list.length);
                    $('.playAudioOnClick').click(function () {
                        var audioalias = $(this).data('audioalias');
                        stopAudio();
                        initAudio(audioalias);
                        playAudio();
                    });

                    $('.playlist [data-audioalias]')
                        .click(
                            function (e) {
                                e.preventDefault();
                                if ($(this).parent().hasClass(
                                        'playlist')) {
                                    var plid = $(this).parent().attr(
                                        'id');
                                    var phraseIndex = $(this).index();
                                    // alert($(this).index()
                                    // + " "
                                    // + plid + " "
                                    // + phraseCurrentIndex[plid]);
                                    phraseCurrentIndex[plid] = $(this)
                                        .index();

                                    stopAudio();
                                    var audioalias = $(this).data(
                                        'audioalias');
                                    initAudio(audioalias);

                                    if (audioalias == '#') {
                                        initAudio($(this).parent()
                                            .data('audioalias'));


                                        var plindex = plid;
                                        var playlistJQ = playlist[plindex][0][0];
                                        var phraselist = playlist[plindex];
                                        var plist = [];
                                        for (var _x = 0; _x < phraselist.length; _x++) {
                                            plist[_x] = phraselist[_x][0];
                                        }

                                        var _audiorange = $(this).data(
                                            'audiorange');
                                        var _rangearray = _audiorange
                                            .split(';');
                                        var _x1 = _rangearray[0];
                                        var _x2 = _rangearray[1];
                                        try {
                                            seekAudio(_x1);
                                        } catch (e) {
                                            console.log(e.message);
                                        }
                                        var _pci = $(this).index();

                                        if (_pci < plist.length - 1) {
                                            _audiorange = jQuery(
                                                plist[_pci + 1][0])
                                                .data('audiorange');
                                            _rangearray = _audiorange
                                                .split(';');
                                            var _y1 = _rangearray[0];
                                            var _y2 = _rangearray[1];

                                        }

                                        playAudioParent(
                                            audioalias,
                                            function () {// on ended
                                            },
                                            0,
                                            function () {

                                                var _audiorange = jQuery(
                                                    plist[_pci][0])
                                                    .data(
                                                        'audiorange');
                                                var _rangearray = _audiorange
                                                    .split(';');
                                                var _x1 = _rangearray[0];
                                                var _x2 = _rangearray[1];
                                                if (_x1 < song.currentTime) {
                                                    var phraseObj = jQuery(plist[_pci][0]);
                                                    jQuery("body")
                                                        .scrollTop(
                                                            phraseObj
                                                                .offset().top - 40);
//                                                    phraseObj
//                                                        .css({
//                                                            'color': 'darkred'
//                                                        });

                                                    phraseObj.addClass('phrase-played');
                                                    phraseObj
                                                        .show();
                                                }

                                                if (_x2 > 0
                                                    && song.currentTime >= _x2) {
                                                    song.pause()
                                                }
                                                if (_y1 != undefined
                                                    && _y1 != null
                                                    && song.currentTime >= _y1) {
                                                    song.pause();
                                                }

                                                ;

                                                jQuery("#globaldiv")
                                                    .text(
                                                        song.currentTime
                                                        + " plist.length"
                                                        + plist.length
                                                        + " _pci "
                                                        + _pci
                                                        + "phraseCurrentIndex[jQuery(plist[0][0]).attr('id')]"
                                                        + phraseCurrentIndex[jQuery(
                                                        plist[0][0])
                                                            .attr(
                                                                'id')]
                                                        + " --- x1 is  "
                                                        + _x1
                                                        + "		 --- y1 is  "
                                                        + _y1
                                                        + " --- audiorange index 2  "
                                                        + jQuery(
                                                        plist[2][0])
                                                            .data(
                                                                'audiorange'));
                                                // SAudio.currentTime
                                                // =
                                                // song.currentTime;
                                            });
                                    }

                                    playAudio();
                                    $('.startPlaylist').button('reset');
                                    var phraselist = playlist[plid];
                                    for (var i = 1; i < phraseIndex + 1; i++) {
//                                        phraselist[i][0].css({
//                                            'color': 'darkred'
//                                        }).show();

                                        phraselist[i][0].addClass('phrase-played').show();

                                        // iterate subphrase
                                        for (var j = 1; j < phraselist[i].length; j++) {
//                                            phraselist[i][j].css({
//                                                'color': 'darkred'
//                                            }).show();
                                            phraselist[i][j].addClass('phrase-played').show();
                                        }
                                    }
                                    for (var i = phraseIndex + 1; i < phraselist.length; i++) {
                                        phraselist[i][0].removeAttr(
                                            "style").show();
                                        // iterate subphrase
                                        for (var j = 1; j < phraselist[i].length; j++) {
                                            phraselist[i][j]
                                                .removeAttr("style")
                                                .show();
                                        }
                                    }
                                    song_paused = true;

                                }
                            });

                    // initialization - first element in playlist

                    // play click
                    $('.play').click(function (e) {
                        e.preventDefault();
                        playAudio();
                    });

                    // pause click
                    $('.pause').click(function (e) {
                        e.preventDefault();
                        stopAudio();
                    });

                    // /////////////// PLAYLIST - DIALOGUE - TEXTE Play
                    // Strategies
                    // //////////////////////
                    var playlist = [];
                    // var phraselist = [];

                    // var audioitemlist = [];

                    // pli 0 0 is div jobject
                    // pli 1 0 is span object for phrase
                    // pli 1 1 is span object for subphrase

                    $('.playlist')
                        .each(
                            function (index, element) {

                                playlist_index = $(this).attr('id');
                                playlist[playlist_index] = [];
                                playlist[playlist_index][0] = [];
                                playlist[playlist_index][0][0] = $(this);
                                // $(this).hide();
                                $(this)
                                    .children('[data-audioalias]')
                                    .each(
                                        function (index1,
                                                  element1) {
                                            playlist[playlist_index][index1 + 1] = [];
                                            playlist[playlist_index][index1 + 1][0] = $(this);
                                            // $(this).hide();

                                            // item list -
                                            // subphrase list
                                            $(this)
                                                .children(
                                                    '[data-audioalias]')
                                                .each(
                                                    function (index2,
                                                              element1) {
                                                        playlist[playlist_index][index1 + 1][index2 + 1] = $(this);
                                                        // $(this).hide();

                                                    });
                                        });

                                // event

                            });

                    $('.startPlaylist').click(
                        function (e) {
                            e.preventDefault();

                            var methodName = $(this).data("playstrat");
                            if (song_paused == true) {
                                song_paused = false;
                                window['playStrat'
                                + methodName.charAt(0)
                                    .toUpperCase()
                                + methodName.slice(1)]($(this)
                                    .data("playlist"), playlist);
                                $(this).button('playing');
                            } else if (song_paused == false) {
                                song_paused = true;
                                stopAudio();
                                $(this).button('clicktoplay');
                            }

                        });// end for click

                    $('.startPlaylist').each(
                        function () {
                            var methodName = $(this).data("playstrat");
                            if (!stratList.hasOwnProperty(methodName)) {
                                stratList[methodName] = 1;
                                jQuery.getScript(sroot
                                    + '/audio-strats/'
                                    + methodName + '.js', function () {
                                });
                            }
                        });

                    $('.menu-item').hover(
                        function (e) {
                            $(this).addClass('active');
                            $(this).children('ul').addClass('in');
                        }, function (e) {
                            $(this).removeClass('active');
                            $(this).children('ul').removeClass('in');
                        });

                }
            );
            /* OnLoad Window */
            var init = function () {

            };
            window.onload = init;

        })(jQuery);

    </script>

{% endblock %}

</body>

</html>
