<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'themes/standard/css/bootstrap.min.css'
        'themes/standard/font-awesome/css/font-awesome.css'
        'themes/standard/css/animate.css'
        'themes/standard/css/style.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>

        {# {{ app.request.basePath ~ '/css/compiled/app.css' }} #}

        {% endstylesheets %}

        <style>
            .phrase-played {
                color: darkolivegreen;
            }

            .word-played {
                color: darkgoldenrod;
            }

            .playlist [data-audioalias] {
                cursor: pointer;
            }

            .pagination > li {
                font-size: 16px;
            }

            .article .ibox-content {
                padding: 10px;
            }

            #scrollToTop.affix-top {
                position: absolute; /* allows it to "slide" up into view */
                bottom: 20px; /* negative of the offset - height of link element */
                right: 10px; /* padding from the left side of the window */
            }

            #scrollToTop.affix {
                position: fixed; /* keeps it on the bottom once in view */
                bottom: 50px; /* height of link element */
                right: 10px; /* padding from the left side of the window */
            }

            .tip {
                background-color: #F9F2F4;
                border-radius: 4px;
                color: #ca4440;
                font-size: 90%;
                padding: 2px 4px;
                white-space: normal;
            }

            .menu-item, .nav-label{
                font-size: 13px;
            }

            .btn-info a{
                color: #FFFFFF;
            }

            body{
                font-size: 14px;
            }
        </style>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        var sroot = '{{ asset('assets/bean/js') }}';
        var audio_server_url = '{{ app.request.scheme ~ '://' ~ fileServerURL('audio') }}';
    </script>

</head>

<body {% block html_body_attr %} {% endblock %}>
{% block html_body %}
    <div id="wrapper">
        {% block navigation %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                            class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b
                                            class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="active">
                            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Main view</span></a>
                        </li>
                        <li>
                            <a href="minor.html"><i class="fa fa-th-large"></i> <span
                                        class="nav-label">Minor view</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        {% endblock %}
        <div id="page-wrapper" class="gray-bg">
            {% block search_row %}
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                        class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control"
                                           name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-cogs"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a7.jpg') }}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a4.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/profile_small.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a7.jpg') }}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/a4.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                                    Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle"
                                                     src="{{ asset('themes/standard/img/profile_small.jpg') }}">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
            {% endblock %}
            {% block body %}
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center m-t-lg">
                                <h1>
                                    Welcome in INSPINIA Static SeedProject
                                </h1>
                                <small>
                                    It is an application skeleton for a typical web app. You can use it to quickly
                                    bootstrap
                                    your webapp projects and dev environment for these projects.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}


            <span id="scrollToTop">
                <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
                </a>
            </span><!-- /scrollToTop -->

            <div class="footer">
                <div class="pull-right">

                </div>
                <div>
                    {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} <strong>Copyright</strong> Sunrise Solutions Co., ltd &copy; 2008-2017
                </div>
            </div>

        </div>
    </div>
{% endblock html_body %}
{% block javascripts %}

    <!-- Main scripts -->
    {% javascripts
    'themes/standard/js/jquery-3.1.1.min.js'
    'themes/standard/js/bootstrap.min.js'
    'themes/standard/js/plugins/metisMenu/jquery.metisMenu.js'
    'themes/standard/js/plugins/slimscroll/jquery.slimscroll.min.js'
    'themes/standard/js/inspinia.js'
    'themes/standard/js/plugins/pace/pace.min.js'

    'assets/bean/js/audio.js'

    output='js/compiled/app.js' %}
    <script src=" {{ asset_url }}"></script>
    {#app.request.basePath ~ '/js/compiled/app.js'#}
    {% endjavascripts %}

    <script>
        (function ($) {
            $('#scrollToTop').affix({
                // how far to scroll down before link "slides" into view
                offset: {top:50}
            });

            $(document).on("click", ".vocab-entry-popover-audio", function () {
                var audioalias = $(this).data('audioalias');
                stopAudio();
                initAudio(audioalias);
                playAudio();
            });

            /* ----------------------------------------------- */
            /* ----------------------------------------------- */
            /* OnLoad Page */
            $(document).ready(
                function ($) {

                    $('.menu-item').hover(
                        function (e) {
                            $(this).siblings().removeClass('active').children('ul').removeClass('in');
                            $(this).addClass('active');
                            $(this).children('ul').addClass('in');
                        }, function (e) {

                        });

                }
            );
            /* OnLoad Window */
            var init = function () {

            };
            window.onload = init;

        })(jQuery);

    </script>

{% endblock %}

</body>

</html>
