{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% for style in styles %}
        <link rel="stylesheet" href="{{ style }}"/>
    {% endfor %}

    {#<link rel='stylesheet' id='h5p-cachedassets-532072e10b6e5351315fce011ff12cbf5bdac6f9-css'  href='http://localhost/001/wordpress/wp-content/uploads/h5p/cachedassets/532072e10b6e5351315fce011ff12cbf5bdac6f9.css?ver=4.7.5' type='text/css' media='all' />#}

    <style>
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% for script in scripts %}
        <script type='text/javascript' src='{{ script }}'></script>
    {% endfor %}

    {#<script type='text/javascript' src='http://localhost/001/wordpress/wp-content/uploads/h5p/cachedassets/532072e10b6e5351315fce011ff12cbf5bdac6f9.js?ver=4.7.5'></script>#}

    <script>
        H5PIntegration = {{ h5pSettings | raw }}
    </script>

    <script>

        $(document).ready(function () {
            if ($(this).width() < 1024) {
                $('body').addClass('mini-navbar')
            } else {
//                $('body').removeClass('body-small')
            }

            // Minimalize menu when screen is less than 768px
            $(window).bind("resize", function () {
                if ($(this).width() < 1024) {
                    $('body').addClass('mini-navbar')
                } else {
//                    $('body').removeClass('body-small')
                }
            });
        });

    </script>
    <script>


    </script>
    <script>
        jQuery(document).ready(function ($) {
            $('#h5p-mcq0').text('testing ahihi');
        });
    </script>


{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-sm-8 col-lg-8 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                        </div>
                        <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                            <h3>
                                {{ article.title }}
                            </h3>
                        </div>
                        {#{{ h5pSettings }}#}
                        <div class="row">
                            <div class="col-sm-12">

                                <h1> Theme: Default views/content/piece.html.twig </h1>
                                <h2>Entity: {{ entity.owner.username }}</h2>
                                <h4>Slug: {{ slug }}</h4>
                                {#{{ dump(scripts) }}#}
                                <p>
                                    {#{{ dump(settingRaw) }}#}
                                    {% for content in contentTest %}
                                        {#{{ dump(content) }}#}
                                    {% endfor %}
                                </p>
                                {{ article.htmlBody | raw }}
                                <H1>AUDIO TEST</H1>

                                <p>
                                    <button id="startPlaylist2" class="btn startPlaylist" data-playstrat="once"
                                            data-playlist="playlist2a">Start
                                        Playslit 2A - Strategy Once
                                    </button>
                                </p>
                                <div id="playlist2a" class="playlist " data-audioalias="taxi1-l01d01">
                                    <div class="message">

                                    </div>
                                    <span data-audioalias="taxi1-l01d01p01">
                                <span class="test" data-audioalias="fr-bonjour"
                                      data-content="parent popup do nha">- <strong>B<span
                                                class="text-underlined">o</span>njour </strong>
                                </span>
                                <span class="test" data-audioalias="fr-monsieur">Monsieur.
                                </span>
                            </span>
                                    <span data-audioalias="taxi1-l01d01p02">
	<span data-audioalias="vous">Vous </span>
	<span data-audioalias="vous">vous</span><span id="subphrase1-2-4" data-audioalias="fr-appeler">&#x203F;appelez ..... ?</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p03">
	<span data-audioalias="fr-doucet"><br/>- Doucet, </span>
	<span data-audioalias="fr-yves-doucet">Yves Doucet.</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p04">
	<span data-audioalias="fr-et"> Et </span>
	<span data-audioalias="fr-voici">voici </span>
	<span data-audioalias="fr-ma">ma  </span>
	<span data-audioalias="fr-femme">femme </span>
	<span data-audioalias="fr-Alice">Alice </span>
</span>
                                    <span data-audioalias="taxi1-l01d01p05">
	<span data-audioalias="bonjour"><br/>- Bonjour </span>
	<span data-audioalias="madame">Madame. </span>
</span></div>


                                <p>
                                    <button id="startPlaylist2" class="btn startPlaylist" data-playstrat="once"
                                            data-playlist="playlist2">Start Playslit
                                        2 - Strategy Once
                                    </button>
                                </p>
                                <div id="playlist2" class="playlist " data-audioalias="taxi1-l01d01">
                                    <div class="message"></div>
                                    <span id="phrase1-1" data-audioalias="taxi1-l01d01p01">
       <span class="test" data-audioalias="fr-bonjour" data-content="parent popup do nha">- <strong>B<span
                       class="text-underlined">o</span>njour </strong></span>
       <span class="test" data-audioalias="fr-monsieur">Monsieur. </span>
</span>
                                    <span data-audioalias="taxi1-l01d01p02">
	<span data-audioalias="vous">Vous </span>
	<span data-audioalias="vous">vous</span><span id="subphrase1-2-4" data-audioalias="fr-appeler">&#x203F;appelez ..... ?</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p03">
	<span data-audioalias="fr-doucet"><br/>- Doucet, </span>
	<span data-audioalias="fr-yves-doucet">Yves Doucet.</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p04">
	<span data-audioalias="fr-et"> Et </span>
	<span data-audioalias="fr-voici">voici </span>
	<span data-audioalias="fr-ma">ma  </span>
	<span data-audioalias="fr-femme">femme </span>
	<span data-audioalias="fr-Alice">Alice </span>
</span>
                                    <span data-audioalias="taxi1-l01d01p05">
	<span data-audioalias="bonjour"><br/>- Bonjour </span>
	<span data-audioalias="madame">Madame. </span>
</span></div>
                                </section>

                                <button class="btn btn-primary" value="Current Time"
                                        onclick="alert(SAudioConfig.currentTime);">
                                    CLICK TO GET CURRENT
                                    TIME
                                </button>
                                <p>
                                    <button id="startPlaylist3" class="btn startPlaylist" data-playstrat="repeat"
                                            data-playlist="playlist3">Start
                                        Playlist - Strategy Repeat
                                    </button>
                                </p>
                                <div id="playlist3" class="playlist " data-audioalias="taxi1-l01d01">
                                    <div class="message"></div>
                                    <span data-audioalias="taxi1-l01d01p01">
       <span class="test" data-audioalias="fr-bonjour" data-content="parent popup do nha">- <strong>B<span
                       class="text-underlined">o</span>njour </strong></span>
       <span class="test" data-audioalias="fr-monsieur">Testing Monsieur. </span>
</span>
                                    <span data-audioalias="taxi1-l01d01p02">
	<span data-audioalias="vous">Vous </span>
	<span data-audioalias="vous">vous</span>
	<span data-audioalias="fr-appeler">&#x203F;appelez ..... ?</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p03">
	<span data-audioalias="fr-doucet"><br/>- Doucet, </span>
	<span data-audioalias="fr-yves-doucet">Yves Doucet.</span>
</span>
                                    <span data-audioalias="taxi1-l01d01p04">
	<span data-audioalias="fr-et"> Et </span>
	<span data-audioalias="fr-voici">voici </span>
	<span data-audioalias="fr-ma">ma  </span>
	<span data-audioalias="fr-femme">femme </span>
	<span data-audioalias="fr-Alice">Alice </span>
</span>
                                    <span data-audioalias="taxi1-l01d01p05">
	<span data-audioalias="bonjour"><br/>- Bonjour </span>
	<span data-audioalias="madame">Madame. </span>
</span>
                                </div>
                                <h1> KBUCODE READY ???? </h1> {kbucode anh.yeu.em.hahahah-hohoo-hihihi}
                                <hr/>
                                <p>
                                    <button id="startPlaylist4" class="btn startPlaylist" data-playstrat="Sharesrc"
                                            data-playlist="playlist4"
                                            data-clicktoplay-text="Click to playyy" data-playing-text="Click to pause">
                                        Start -
                                        Strategy Sharesrc
                                    </button>
                                </p>
                                <div id="playlist4" class="playlist " data-audioalias="taxi1-l01d01" data-seekable="1">
                                    <div class="message"></div>
                                    <div data-audioalias="#" data-audiorange="0;-1"> 0 giay dau</div>
                                    <div data-audioalias="#" data-audiorange="2;-1"> sau 2 giay</div>
                                    <div data-audioalias="#" data-audiorange="4.123;-1"> sau 4.123 giay</div>
                                </div>

                                <hr/>

                                <div class="pause btn btn-default">pause</div>
                                <div data-audioalias="taxi1-l01d01p01" data-audiorange="0;3"> 3 giay dau
                                    <span class="test" title="im here for tooltip too"
                                          data-content="parent popup do nha">- <strong>B<span
                                                    class="text-underlined">o</span>njour </strong></span>
                                    <span class="test"><span title="tooltip">test 222 Monsieur. </span></span>
                                </div>
                                <div data-audioalias="taxi1-l01d01p02">
                                    Vous
                                    vous
                                    <span data-audioalias="fr-appeler">&#x203F;appelez ..... ?</span>
                                </div>
                                <div data-audioalias="taxi1-l01d01p03">
                                    <span data-audioalias="fr-doucet"><br/>- Doucet, </span>
                                    <span data-audioalias="fr-yves-doucet">Yves Doucet.</span>
                                </div>


                                <div data-audioalias="taxi1-l01d01p04">
                                    <span data-audioalias="fr-et"> Et </span>
                                    <span data-audioalias="fr-voici">voici </span>
                                    <span data-audioalias="fr-ma">ma  </span>
                                    <span data-audioalias="fr-femme">femme </span>
                                    <span data-audioalias="fr-Alice">Alice </span>
                                </div>
                                <a class="srtab-jump" href="#profile/messagesSUB/profileGRANDCHILD">profile/messagesSUB/profileGRANDCHILD</a>
                                <div data-audioalias="taxi1-l01d01p05">
                                    <span data-audioalias="bonjour"><br/>- Bonjour </span>
                                    <span data-audioalias="madame">Madame. </span>
                                </div>

                                <button id="test" class="btn server-data" data-playstrat="repeat"
                                        data-playlist="playlist2">
                                    Start - Strategy Repeat
                                </button>
                                </p>
                                <div id="page-1" class="presentation manual-start show-positions" data-pagenext="1"
                                     data-pagejump="" data-delay="1000"
                                     data-mode="auto">
                                    <div data-position="1" data-delay="1000">dummy text 1</div>
                                    <div data-position="2" data-delay="3000" data-audioalias="taxi1-l01d01p04"
                                         data-audiodelay="2000">dummy text 2
                                    </div>
                                    <div data-position="3" data-delay="1000">dummy text 3
                                        <ol>
                                            <li>bullet 1</li>
                                            <li data-position="4">bullet 2</li>
                                            <li>bullet 3</li>
                                        </ol>
                                    </div>
                                    <div data-position="5" class="page-back"></div>
                                    <div data-position="6" data-mode="click" data-pagejump="2"></div>
                                    <div data-position="6">You will be redirected to another page</div>
                                    <div data-position="7"></div>
                                </div>

                                <hr/>
                                <p>
                                    <i>
                                        Far far away, behind the word mountains, far from the countries Vokalia and
                                        Consonantia,
                                        there live the blind texts. Separated they live in Bookmarksgrove right at the
                                        coast of
                                        the Semantics, a large language ocean. A small river named Duden flows by their
                                        place
                                        and supplies it with the necessary regelialia. It is a paradisematic country, in
                                        which
                                        roasted parts of sentences fly into your mouth.
                                    </i>
                                </p>
                                <p>
                                    The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
                                    wild
                                    Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She
                                    packed her
                                    seven versalia, put her initial into the belt and made herself on the way. When she
                                    reached
                                    the first hills of the Italic Mountains, she had a last view back on the skyline of
                                    her
                                    hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own
                                    road,
                                    the Line Lane. Pityful a rethoric question ran over her cheek,
                                </p>
                                <p>
                                    Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now
                                    fax quiz
                                    Jack!" my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job,
                                    kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack
                                    might jinx
                                    zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the
                                    lazy
                                    fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a
                                    quick
                                    jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps
                                    quickly in
                                    fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged
                                    for
                                    blue quartz. Brawny gods just
                                </p>
                                <p>
                                    Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick
                                    wafting
                                    zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my
                                    junk TV
                                    quiz. How quickly daft jumping zebras vex.
                                </p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                <div class="h5p-content" data-content-id="1"></div>
                                </p>
                                <br/><br/><br/>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                <div class="h5p-content" data-content-id="2"></div>
                                </p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Tags:</h5>
                                <button class="btn btn-primary btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            </div>
                            <div class="col-md-6">
                                <div class="small text-right">
                                    <h5>Stats:</h5>
                                    <div><i class="fa fa-comments-o"> </i> 56 comments</div>
                                    <i class="fa fa-eye"> </i> 144 views
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Comments:</h2>
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                        <a href="" class="pull-left">
                                            <img alt="image" src="{{ asset('themes/standard/img/a1.jpg') }}">
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                Andrew Williams
                                            </a>
                                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                        </div>
                                    </div>
                                    <div class="social-body">
                                        <p>
                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                            their
                                            default model text, and a search for 'lorem ipsum' will uncover many web
                                            sites still
                                            default model text.
                                        </p>
                                    </div>
                                </div>
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                        <a href="" class="pull-left">
                                            <img alt="image" src="{{ asset('themes/standard/img/a2.jpg') }}">
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                Michael Novek
                                            </a>
                                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                        </div>
                                    </div>
                                    <div class="social-body">
                                        <p>
                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                            their
                                            default model text, and a search for 'lorem ipsum' will uncover many web
                                            sites still
                                            default model text, and a search for 'lorem ipsum' will uncover many web
                                            sites still
                                            in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                            default model text.
                                        </p>
                                    </div>
                                </div>
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                        <a href="" class="pull-left">
                                            <img alt="image" src="{{ asset('themes/standard/img/a3.jpg') }}">
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                Alice Mediater
                                            </a>
                                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                        </div>
                                    </div>
                                    <div class="social-body">
                                        <p>
                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                            their
                                            default model text, and a search for 'lorem ipsum' will uncover many web
                                            sites still
                                            in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                            default model text.
                                        </p>
                                    </div>
                                </div>
                                <div class="social-feed-box">
                                    <div class="social-avatar">
                                        <a href="" class="pull-left">
                                            <img alt="image" src="{{ asset('themes/standard/img/a5.jpg') }}">
                                        </a>
                                        <div class="media-body">
                                            <a href="#">
                                                Monica Flex
                                            </a>
                                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                        </div>
                                    </div>
                                    <div class="social-body">
                                        <p>
                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                            their
                                            default model text, and a search for 'lorem ipsum' will uncover many web
                                            sites still
                                            in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                            default model text.
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2">
                <div class="ibox text-center">
                    <div class="ibox-content">
                        <h3>Advertising</h3>
                        hello how are you doing <br/>
                        hello how are you doing <br/>
                        hello how are you doing <br/>hello how are you doing <br/>hello how are you doing <br/>hello how
                        are you doing <br/>hello how are you doing <br/>hello how are you doing <br/>hello how are you
                        doing <br/>hello how are you doing <br/>hello how are you doing <br/>hello how are you doing
                        <br/>hello how are you doing <br/>hello how are you doing <br/>hello how are you doing <br/>hello
                        how are you doing <br/>hello how are you doing <br/>
                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}

